.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h1 {
    margin-bottom: 20px;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container form h2 {
    margin-bottom: 10px;
  }
  
  .form-container form input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .form-container form button {
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .image-container img {
    max-width: 100%;
    border-radius: 8px;
  }
  